    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script type="text/javascript" src="/eel.js?v=20260421r47" data-cfasync="false"></script>
    <script src="app-state.js?v={{ASSET_VERSION}}" data-cfasync="false"></script>
    <script src="app-auth-admin.js?v={{ASSET_VERSION}}" data-cfasync="false"></script>
    <script src="app-preview.js?v={{ASSET_VERSION}}" data-cfasync="false"></script>
    <script src="app-settings.js?v={{ASSET_VERSION}}" data-cfasync="false"></script>
    <script src="app.js?v={{ASSET_VERSION}}" data-cfasync="false"></script>
